html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.span.ant-menu-title-content:hover{
  color: 'red' !important
}

.span.ant-menu-title-content a:hover {
  color: 'red' !important
}

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;